* {
    font-family: "JetBrainsMono Nerd Font Mono", "JetBrainsMono NFM", FontAwesome, sans-serif;
    font-size: 13px;
}

/* Gruvbox dark palette */
window#waybar {
    background-color: rgba(40, 40, 40, 0.9);
    border-top: 2px solid #3c3836;
    color: #ebdbb2;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: #3c3836;
    box-shadow: inset 0 -3px #d79921;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: #3c3836;
}

#workspaces button.active {
    background-color: #504945;
    box-shadow: inset 0 -3px #d79921;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#submap {
    background-color: #504945;
    box-shadow: inset 0 -3px #d79921;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#submap,
#idle_inhibitor,
#scratchpad {
    padding: 0 10px;
    color: #ebdbb2;
    background-color: #3c3836;
    margin: 2px 1px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #504945;
    color: #ebdbb2;
}

#battery {
    background-color: #3c3836;
    color: #b8bb26;
}

#battery.charging, #battery.plugged {
    background-color: #3c3836;
    color: #98971a;
}

#battery.warning {
    color: #d79921;
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #fb4934;
        color: #282828;
    }
}

#cpu {
    color: #8ec07c;
}

#memory {
    color: #d3869b;
}

#backlight {
    color: #fabd2f;
}

#network {
    color: #83a598;
}

#network.disconnected {
    color: #fb4934;
}

#pulseaudio {
    color: #fabd2f;
}

#pulseaudio.muted {
    color: #928374;
}

#temperature {
    color: #fe8019;
}

#temperature.critical {
    color: #fb4934;
}

#tray {
    background-color: #3c3836;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}

#idle_inhibitor {
    color: #928374;
}

#idle_inhibitor.activated {
    background-color: #504945;
    color: #fabd2f;
}
